
h1{
  text-align: center;
}

a{
  color: black;
}

button{  
  padding: 6px 12px;
  border: 0px solid #ced4da;
  border-radius: 10px;
  cursor: pointer;
  appearance: none;
  background-color:  #212529;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
input{
  padding: 6px 12px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 10px;
}

